include parts/head.pug
include parts/navbar.pug 


// News Add
.alert.container.hiddenAlert.alert-warning.alert-dismissible.fade.show(role='alert')
  strong წარმატებით აიტვირთა!
    button.close(type='button' data-dismiss='alert' aria-label='Close')
      span(aria-hidden='true') &times;

form.container.news_add_container(action='/add_news' method='POST')
  .form-group
    label.formGroupExampleInput(for='formGroupExampleInput') &#x10E8;&#x10D4;&#x10D8;&#x10E7;&#x10D5;&#x10D0;&#x10DC;&#x10D4;&#x10D7; &#x10E1;&#x10D8;&#x10D0;&#x10EE;&#x10DA;&#x10D8;&#x10E1; &#x10DA;&#x10D8;&#x10DC;&#x10D9;&#x10D8;
    input#formGroupExampleInput.shadow-none.form-control.mt-2(type='text' required='' name='link' placeholder='ლინკი')
    label.accept-label(for='accept')
      input#accept(type='checkbox' name='accept')
      | მნიშვნელოვანი პოსტი

    label.accept-label1(for='accept1')
      input#accept1(type='checkbox' name='accept1')
      | პოსტი გირჩზე

    .col-auto.my-1
      button.closeBtn.news-btn.btn.btn-primary.bg-white.mt-4(type='submit') დასტური



// ======= Footer =======
include parts/footer.pug
// End Footer

include parts/scripts.pug
