doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  title &#x10DB;&#x10D4;&#x10D3;&#x10D8;&#x10D0; &#x10D2;&#x10D8;&#x10E0;&#x10E9;&#x10D8;
  meta(content='' name='description')
  meta(content='' name='keywords')
  // Favicons
  link(href='assets/img/download' rel='icon')
  link(href='assets/img/apple-touch-icon.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
  // Vendor CSS Files
  link(href='assets/vendor/animate.css/animate.min.css' rel='stylesheet')
  link(href='assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(href='assets/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
  link(href='assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
  link(href='assets/vendor/glightbox/css/glightbox.min.css' rel='stylesheet')
  link(href='assets/vendor/swiper/swiper-bundle.min.css' rel='stylesheet')
  // Template Main CSS File
  link(href='assets/css/style.css' rel='stylesheet')
  script(async='' defer='' crossorigin='anonymous' src='https://connect.facebook.net/en_US/sdk.js')
  //
    =======================================================
    * Template Name: Green - v4.3.0
    * Template URL: https://bootstrapmade.com/green-free-one-page-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ========================================================
  // ======= Top Bar =======
  section#topbar.d-flex.align-items-center
    .container.d-flex.justify-content-center.justify-content-md-between
      .contact-info.d-flex.align-items-center
        i.bi.bi-envelope-fill
        a(href='mailto:contact@example.com') info@girchi.com
      .social-links.d-none.d-md-block
        a.twitter(href='#')
          i.bi.bi-twitter
        a.facebook(href='#')
          i.bi.bi-facebook
        a.instagram(href='#')
          i.bi.bi-instagram
        a.linkedin(href='#')
          i.bi.bi-linkedin
  // ======= Header =======
  header#header.d-flex.align-items-center
    .container.d-flex.align-items-center
      h1.logo.me-auto
        a(href='/index.pug')
          img(src='./assets/img/download' alt='index')
      // Uncomment below if you prefer to use an image logo
      // <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
      nav#navbar.navbar
        ul
          li
            a.nav-link.scrollto.active(href='#hero') &#x10DB;&#x10D7;&#x10D0;&#x10D5;&#x10D0;&#x10E0;&#x10D8;
          li
            a.nav-link.scrollto(href='#main') &#x10E1;&#x10D8;&#x10D0;&#x10EE;&#x10DA;&#x10D4;&#x10D4;&#x10D1;&#x10D8;
          li
            a.nav-link.scrollto(href='#team') &#x10D2;&#x10E3;&#x10DC;&#x10D3;&#x10D8;
          li
            a.nav-link.scrollto(href='#about') &#x10E9;&#x10D5;&#x10D4;&#x10DC;&#x10E1; &#x10E8;&#x10D4;&#x10E1;&#x10D0;&#x10EE;&#x10D4;&#x10D1;
          li
            a.nav-link.scrollto(href='#contact') &#x10D9;&#x10DD;&#x10DC;&#x10E2;&#x10D0;&#x10E5;&#x10E2;&#x10D8;
        i.bi.bi-list.mobile-nav-toggle
      // .navbar
  // End Header
  // News Add
  form.container.news_add_container
    .form-group
      label.formGroupExampleInput(for='formGroupExampleInput') &#x10E8;&#x10D4;&#x10D8;&#x10E7;&#x10D5;&#x10D0;&#x10DC;&#x10D4;&#x10D7; &#x10E1;&#x10D8;&#x10D0;&#x10EE;&#x10DA;&#x10D8;&#x10E1; &#x10DA;&#x10D8;&#x10DC;&#x10D9;&#x10D8;
      input#formGroupExampleInput.shadow-none.form-control.mt-2(type='text' placeholder='ლინკი')
    .form-row.align-items-center
      .col-auto.my-1
        label.mr-sm-4.text-white.mr-4(for='inlineFormCustomSelect') &#x10EC;&#x10E7;&#x10D0;&#x10E0;&#x10DD;
        select#inlineFormCustomSelect.shadow-none.custom-select.mr-sm-2.mt-2
          option.shadow-none(selected='') &#x10D0;&#x10D8;&#x10E0;&#x10E9;&#x10D8;&#x10D4;&#x10D7;
          option(value='1') tabula
          option(value='1') on
          option(value='2') formula
          option(value='3') palitranews
          option(value='3') facebook
          option(value='3') mtavari
          option(value='3') tvpirveli
      .col-auto.my-1
        button.news-btn.btn.btn-primary.bg-white.mt-4(type='submit') დასტური
  // End News Add
  // ======= Footer =======
  footer#footer
    .container
      h3 &#x10DB;&#x10D4;&#x10D3;&#x10D8;&#x10D0; &#x10D2;&#x10D8;&#x10E0;&#x10E9;&#x10D8;
      .social-links
        a.twitter(href='#')
          i.bx.bxl-twitter
        a.facebook(href='#')
          i.bx.bxl-facebook
        a.instagram(href='#')
          i.bx.bxl-instagram
        a.google-plus(href='#')
          i.bx.bxl-skype
        a.linkedin(href='#')
          i.bx.bxl-linkedin
      .copyright &#x10E7;&#x10D5;&#x10D4;&#x10DA;&#x10D0; &#x10E1;&#x10D0;&#x10D0;&#x10D5;&#x10E2;&#x10DD;&#x10E0;&#x10DD; &#x10E3;&#x10E4;&#x10DA;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10D7;&#x10D0;&#x10D5;&#x10D6;&#x10D4;&#x10EA; &#x10D2;&#x10D0;&#x10D5;&#x10D8;&#x10D0;&#x10E0;&#x10D4;&#x10D7;. &#x10D2;&#x10D8;&#x10E0;&#x10E9;&#x10D8;
  // End Footer
  a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
    i.bi.bi-arrow-up-short
// Vendor JS Files
script(src='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='assets/vendor/glightbox/js/glightbox.min.js')
script(src='assets/vendor/isotope-layout/isotope.pkgd.min.js')
script(src='assets/vendor/php-email-form/validate.js')
script(src='assets/vendor/swiper/swiper-bundle.min.js')
// Template Main JS File
script(src='assets/js/main.js')
script(src='assets/js/loader.js')
script(src='assets/js/script.js')
