doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  title &#x10DB;&#x10D4;&#x10D3;&#x10D8;&#x10D0; &#x10D2;&#x10D8;&#x10E0;&#x10E9;&#x10D8;
  meta(content='' name='description')
  meta(content='' name='keywords')
  // Favicons
  link(href='assets/img/download' rel='icon')
  link(href='assets/img/apple-touch-icon.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
  // Vendor CSS Files
  link(href='assets/vendor/animate.css/animate.min.css' rel='stylesheet')
  link(href='assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(href='assets/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
  link(href='assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
  link(href='assets/vendor/glightbox/css/glightbox.min.css' rel='stylesheet')
  link(href='assets/vendor/swiper/swiper-bundle.min.css' rel='stylesheet')
  // Template Main CSS File
  link(href='assets/css/style.css' rel='stylesheet')
  //
    =======================================================
    * Template Name: Green - v4.3.0
    * Template URL: https://bootstrapmade.com/green-free-one-page-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ========================================================
// ======= Loader =======
body
  .outerContainer
    .item
      img(src='./assets/img/download')
    .circle
  // ======= Top Bar =======
  section#topbar.d-flex.align-items-center
    .container.d-flex.justify-content-center.justify-content-md-between
      .contact-info.d-flex.align-items-center
        i.bi.bi-envelope-fill
        a(href='mailto:contact@example.com')
          | info@girchi.com
      .social-links.d-none.d-md-block
        a.twitter(href='#')
          i.bi.bi-twitter
        a.facebook(href='#')
          i.bi.bi-facebook
        a.instagram(href='#')
          i.bi.bi-instagram
        a.linkedin(href='#')
          i.bi.bi-linkedin
  // ======= Header =======
  header#header.d-flex.align-items-center
    .container.d-flex.align-items-center
      h1.logo.me-auto
        a(href='index.html')
          img(src='./assets/img/download' alt='')
      // Uncomment below if you prefer to use an image logo
      // <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
      nav#navbar.navbar
        ul
          li
            a.nav-link.scrollto.active(href='#hero') &#x10DB;&#x10D7;&#x10D0;&#x10D5;&#x10D0;&#x10E0;&#x10D8;
          li
            a.nav-link.scrollto(href='#main') &#x10E1;&#x10D8;&#x10D0;&#x10EE;&#x10DA;&#x10D4;&#x10D4;&#x10D1;&#x10D8;
          li
            a.nav-link.scrollto(href='#team') &#x10D2;&#x10E3;&#x10DC;&#x10D3;&#x10D8;
          li
            a.nav-link.scrollto(href='#about') &#x10E9;&#x10D5;&#x10D4;&#x10DC;&#x10E1; &#x10E8;&#x10D4;&#x10E1;&#x10D0;&#x10EE;&#x10D4;&#x10D1;
          li
            a.nav-link.scrollto(href='#contact') &#x10D9;&#x10DD;&#x10DC;&#x10E2;&#x10D0;&#x10E5;&#x10E2;&#x10D8;
        i.bi.bi-list.mobile-nav-toggle
      // .navbar
  // End Header
  // ======= Hero Section =======
  section#hero
    #heroCarousel.carousel.slide.carousel-fade(data-bs-interval='5000' data-bs-ride='carousel')
      ol#hero-carousel-indicators.carousel-indicators
      .carousel-inner(role='listbox')
        // Slide 1
        .carousel-item.active(style='background-image: url(assets/img/slide/slide-1.jpg)')
          .carousel-container
            .container
              h2.animate__animated.animate__fadeInDown &#x10D8;&#x10D3;&#x10D4;&#x10D0; &#x10D8;&#x10DB;&#x10D0;&#x10E0;&#x10EF;&#x10D5;&#x10D4;&#x10D1;&#x10E1;
              p.animate__animated.animate__fadeInUp
                | &#x10D9;&#x10DD;&#x10DB;&#x10E3;&#x10DC;&#x10D8;&#x10E1;&#x10E2;&#x10D4;&#x10D1;&#x10D8; &#x10D3;&#x10D0;&#x10DB;&#x10DD;&#x10E3;&#x10D9;&#x10D8;&#x10D3;&#x10D4;&#x10D1;&#x10DA;&#x10DD;&#x10D1;&#x10D8;&#x10E1; &#x10D8;&#x10D3;&#x10D4;&#x10D0;&#x10DB; &#x10D3;&#x10D0;&#x10D0;&#x10DB;&#x10D0;&#x10E0;&#x10EA;&#x10EE;&#x10D0;, &#x10E8;&#x10D4;&#x10D5;&#x10D0;&#x10E0;&#x10D3;&#x10DC;&#x10D0;&#x10EB;&#x10D4; &#x10D0;&#x10E0;&#x10D0; &#x10D9;&#x10DD;&#x10E0;&#x10E3;&#x10E4;&#x10EA;&#x10D8;&#x10D8;&#x10E1; &#x10D8;&#x10D3;&#x10D4;&#x10D0;&#x10DB;, &#x10E1;&#x10D0;&#x10D0;&#x10D9;&#x10D0;&#x10E8;&#x10D5;&#x10D8;&#x10DA;&#x10D8; &#x10D0;&#x10E0;&#x10D0; &#x10EB;&#x10D0;&#x10DA;&#x10D0;&#x10D3;&#x10DD;&#x10D1;&#x10D0;&#x10E1; &#x10D8;&#x10D3;&#x10D4;&#x10D0;&#x10DB;, &#x10D3;&#x10E6;&#x10D4;&#x10E1; &#x10DD;&#x10DE;&#x10DD;&#x10D6;&#x10D8;&#x10EA;&#x10D8;&#x10D0;&#x10E1; &#x10D0;&#x10E0; &#x10D2;&#x10D0;&#x10D0;&#x10E9;&#x10DC;&#x10D8;&#x10D0; &#x10D0;&#x10E1;&#x10D4;&#x10D7;&#x10D8; &#x10D8;&#x10D3;&#x10D4;&#x10D0;, &#x10E0;&#x10DD;&#x10DB; &#x10EE;&#x10D4;&#x10DA;&#x10D8;&#x10E1;&#x10E3;&#x10E4;&#x10DA;&#x10D4;&#x10D1;&#x10D0; &#x10D3;&#x10D0;&#x10D0;&#x10DB;&#x10D0;&#x10E0;&#x10EA;&#x10EE;&#x10DD;&#x10E1;
              a.btn-get-started.animate__animated.animate__fadeInUp.scrollto(target='_blank' href='https://fb.watch/79nIC8jTYV/') &#x10D5;&#x10E0;&#x10EA;&#x10DA;&#x10D0;&#x10D3;
        // Slide 2
        .carousel-item(style='background-image: url(assets/img/slide/slide-2.jpg)')
          .carousel-container
            .container
              h2.animate__animated.animate__fadeInDown &#x10EA;&#x10EE;&#x10E0;&#x10D0; &#x10EC;&#x10DA;&#x10D8;&#x10D0;&#x10DC;&#x10D8; &#x10D7;&#x10D0;&#x10DB;&#x10D0;&#x10E8;&#x10D8;
              p.animate__animated.animate__fadeInUp
                | &#x10DB;&#x10E3;&#x10D3;&#x10DB;&#x10D8;&#x10D5;&#x10D0;&#x10D3; &#x10D4;&#x10E0;&#x10D7;&#x10DB;&#x10D0;&#x10DC;&#x10D4;&#x10D7;&#x10D8;&#x10E1; &#x10D3;&#x10D0;&#x10DB;&#x10EE;&#x10DB;&#x10D0;&#x10E0;&#x10D4; &#x10E0;&#x10D2;&#x10DD;&#x10DA;&#x10D8;&#x10E1; &#x10E4;&#x10E3;&#x10DC;&#x10E5;&#x10EA;&#x10D8;&#x10D0;&#x10E1; &#x10D0;&#x10E1;&#x10E0;&#x10E3;&#x10DA;&#x10D4;&#x10D1;&#x10D3;&#x10D0; &#x10E5;&#x10D0;&#x10E0;&#x10D7;&#x10E3;&#x10DA;&#x10D8; &#x10DD;&#x10EA;&#x10DC;&#x10D4;&#x10D1;&#x10D0; &#x10D3;&#x10D0; &#x10DC;&#x10D0;&#x10EA;&#x10D8;&#x10DD;&#x10DC;&#x10D0;&#x10DA;&#x10E3;&#x10E0;&#x10D8; &#x10DB;&#x10DD;&#x10EB;&#x10E0;&#x10D0;&#x10DD;&#x10D1;&#x10D0;
              a.btn-get-started.animate__animated.animate__fadeInUp.scrollto(href='#about') &#x10D5;&#x10E0;&#x10EA;&#x10DA;&#x10D0;&#x10D3;
        // Slide 3
        .carousel-item(style='background-image: url(assets/img/slide/slide-3.jpg.jpg)')
          .carousel-container
            .container
              h2.animate__animated.animate__fadeInDown &#x10D3;&#x10D8;&#x10E1;&#x10D9;&#x10DD;&#x10DB;&#x10E4;&#x10DD;&#x10E0;&#x10E2;&#x10D8; &#x10E5;&#x10DD;&#x10EA;&#x10D4;&#x10D1;&#x10E1;
              p.animate__animated.animate__fadeInUp
                | &#x10E9;&#x10D5;&#x10D4;&#x10DC; &#x10EE;&#x10DD;&#x10DB; &#x10DE;&#x10D0;&#x10E0;&#x10DA;&#x10D0;&#x10DB;&#x10D4;&#x10DC;&#x10E2;&#x10E8;&#x10D8; &#x10DB;&#x10EE;&#x10DD;&#x10DA;&#x10DD;&#x10D3; &#x10E8;&#x10D0;&#x10E0;&#x10DA; &#x10DB;&#x10D8;&#x10E8;&#x10D4;&#x10DA;&#x10D8;&#x10E1; &#x10D3;&#x10DD;&#x10D9;&#x10E3;&#x10DB;&#x10D4;&#x10DC;&#x10E2;&#x10D8;&#x10E1; &#x10D2;&#x10D0;&#x10DB;&#x10DD; &#x10D0;&#x10E0; &#x10D5;&#x10D0;&#x10E0;&#x10D7;, &#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10D0;&#x10D3; &#x10DC;&#x10DD;&#x10E0;&#x10DB;&#x10D0;&#x10DA;&#x10E3;&#x10E0; &#x10E1;&#x10D0;&#x10D6;&#x10DD;&#x10D2;&#x10D0;&#x10D3;&#x10DD;&#x10D4;&#x10D1;&#x10D0;&#x10E8;&#x10D8; &#x10DE;&#x10D0;&#x10E0;&#x10DA;&#x10D0;&#x10DB;&#x10D4;&#x10DC;&#x10E2;&#x10D8; &#x10EE;&#x10DD;&#x10DB; &#x10E3;&#x10DC;&#x10D3;&#x10D0; &#x10E4;&#x10E3;&#x10DC;&#x10E5;&#x10EA;&#x10D8;&#x10DD;&#x10DC;&#x10D8;&#x10E0;&#x10D4;&#x10D1;&#x10D3;&#x10D4;&#x10E1;, &#x10D0;&#x10DB;&#x10D8;&#x10E2;&#x10DD;&#x10DB; &#x10E9;&#x10D5;&#x10D4;&#x10DC; &#x10E3;&#x10DC;&#x10D3;&#x10D0; &#x10D2;&#x10D0;&#x10DB;&#x10DD;&#x10D5;&#x10D8;&#x10E7;&#x10D4;&#x10DC;&#x10DD;&#x10D7; &#x10D8;&#x10E1; &#x10E0;&#x10D4;&#x10E1;&#x10E3;&#x10E0;&#x10E1;&#x10D8; &#x10E0;&#x10D0;&#x10EA; &#x10D2;&#x10D5;&#x10D0;&#x10E5;&#x10D5;&#x10E1;
              a.btn-get-started.animate__animated.animate__fadeInUp.scrollto(href='#about') &#x10D5;&#x10E0;&#x10EA;&#x10DA;&#x10D0;&#x10D3;
      a.carousel-control-prev(href='#heroCarousel' role='button' data-bs-slide='prev')
        span.carousel-control-prev-icon.bi.bi-chevron-left(aria-hidden='true')
      a.carousel-control-next(href='#heroCarousel' role='button' data-bs-slide='next')
        span.carousel-control-next-icon.bi.bi-chevron-right(aria-hidden='true')
  // End Hero
  .main
    h3#main &#x10E1;&#x10D8;&#x10D0;&#x10EE;&#x10DA;&#x10D4;&#x10D4;&#x10D1;&#x10D8;
    .container.news_container
      a.main-card(href='#')
        .card.mb-5.flex-column
          img.card-img-top(src=som.imgUrl alt='Card image cap')
          .card-body
            h5.card-title=som.title
            p.card-text=som.text
            p.card-text
              small.text-muted=som.dataInfo
      a.main-card(href='#')
        .card.mb-3.flex-column
          h5.card-title &#x10D8;&#x10E1;&#x10E2;&#x10DD;&#x10E0;&#x10D8;&#x10D8;&#x10E1; &#x10D3;&#x10D0;&#x10DB;&#x10D7;&#x10D0;&#x10D5;&#x10E0;&#x10D4;&#x10D1;&#x10D0;
          .card-body
            img.card-img-top(src='./assets/img/news/2.jpg' alt='Card image cap')
            p.card-text
              | &#x10DB;&#x10D4;&#x10E0;&#x10D4; &#x10DB;&#x10DD;&#x10E2;&#x10E0;&#x10D8;&#x10D0;&#x10DA;&#x10D3;&#x10D4;&#x10D1;&#x10DD;&#x10D3;&#x10D0; &#x10E5;&#x10D0;&#x10E0;&#x10D7;&#x10E3;&#x10DA;&#x10D8; &#x10DD;&#x10EA;&#x10DC;&#x10D4;&#x10D1;&#x10D0; &#x10D3;&#x10D0; &#x10D8;&#x10E2;&#x10E7;&#x10DD;&#x10D3;&#x10D0;, &#x10E0;&#x10DD;&#x10DB; &#x10E9;&#x10D5;&#x10D4;&#x10DC; &#x10D9;&#x10D8; &#x10EA;&#x10E3;&#x10D3;&#x10D0;&#x10D3; &#x10DB;&#x10DD;&#x10D5;&#x10D8;&#x10E5;&#x10D4;&#x10EA;&#x10D8;&#x10D7;, &#x10DB;&#x10D0;&#x10D2;&#x10E0;&#x10D0;&#x10DB; &#x10E9;&#x10D0;&#x10DB;&#x10DD;&#x10D5;&#x10D0; &#x10E1;&#x10D0;&#x10D0;&#x10D9;&#x10D0;&#x10E8;&#x10D5;&#x10D8;&#x10DA;&#x10D8; &#x10D3;&#x10D0; &#x10E7;&#x10D5;&#x10D4;&#x10DA;&#x10D0;&#x10E1; &#x10D3;&#x10D0;&#x10D2;&#x10D8;&#x10ED;&#x10D4;&#x10E0;&#x10D7;, &#x10D3;&#x10D0; &#x10DB;&#x10D7;&#x10D0;&#x10D5;&#x10E0;&#x10D3;&#x10D4;&#x10D1;&#x10D0; &#x10D8;&#x10E1;&#x10E2;&#x10DD;&#x10E0;&#x10D8;&#x10D0;. &#x10D0;&#x10DB; &#x10E9;&#x10D0;&#x10D9;&#x10D4;&#x10E2;&#x10D8;&#x10DA;&#x10D8; &#x10EC;&#x10E0;&#x10D8;&#x10D3;&#x10D0;&#x10DC; &#x10E0;&#x10D0;&#x10DB;&#x10D4;&#x10DC;&#x10D0;&#x10D8;&#x10E0;&#x10D0;&#x10D3; &#x10E3;&#x10DC;&#x10D3;&#x10D0; &#x10D2;&#x10D0;&#x10DB;&#x10DD;&#x10D5;&#x10D8;&#x10D3;&#x10D4;&#x10D7;. - Vakhtang Megrelishvili / &#x10D5;&#x10D0;&#x10EE;&#x10E2;&#x10D0;&#x10DC;&#x10D2; &#x10DB;&#x10D4;&#x10D2;&#x10E0;&#x10D4;&#x10DA;&#x10D8;&#x10E8;&#x10D5;&#x10D8;&#x10DA;&#x10D8;....
            p.card-text
              small.text-muted 11/28/90
  // ======= Footer =======
  footer#footer
    .container
      h3 &#x10DB;&#x10D4;&#x10D3;&#x10D8;&#x10D0; &#x10D2;&#x10D8;&#x10E0;&#x10E9;&#x10D8;
      .social-links
        a.twitter(href='#')
          i.bx.bxl-twitter
        a.facebook(href='#')
          i.bx.bxl-facebook
        a.instagram(href='#')
          i.bx.bxl-instagram
        a.google-plus(href='#')
          i.bx.bxl-skype
        a.linkedin(href='#')
          i.bx.bxl-linkedin
      .copyright
        | &#x10E7;&#x10D5;&#x10D4;&#x10DA;&#x10D0; &#x10E1;&#x10D0;&#x10D0;&#x10D5;&#x10E2;&#x10DD;&#x10E0;&#x10DD; &#x10E3;&#x10E4;&#x10DA;&#x10D4;&#x10D1;&#x10D8;&#x10E1; &#x10D7;&#x10D0;&#x10D5;&#x10D6;&#x10D4;&#x10EA; &#x10D2;&#x10D0;&#x10D5;&#x10D8;&#x10D0;&#x10E0;&#x10D4;&#x10D7;. &#x10D2;&#x10D8;&#x10E0;&#x10E9;&#x10D8;
  // End Footer
  a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
    i.bi.bi-arrow-up-short
// Vendor JS Files
script(src='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='assets/vendor/glightbox/js/glightbox.min.js')
script(src='assets/vendor/isotope-layout/isotope.pkgd.min.js')
script(src='assets/vendor/php-email-form/validate.js')
script(src='assets/vendor/swiper/swiper-bundle.min.js')
// Template Main JS File
script(src='assets/js/main.js')
script(src='assets/js/loader.js')
