footer#footer
  .container
    h3 მედია გირჩი
    .social-links
      a.twitter(href='https://twitter.com/girchiparty' target='_blank')
        i.bx.bxl-twitter
      a.facebook(href='https://www.facebook.com/GirchiParty/' target='_blank')
        i.bx.bxl-facebook
      a.instagram(href='https://www.instagram.com/girchiparty/?hl=en' target='_blank')
        i.bx.bxl-instagram
      //- a.youtube(href='https://www.youtube.com/channel/UC6o6176a756vk1nZuzAXy5g' target='_blank')
      //-   i.bx.bxl-youtube#youtube
    .copyright
      p ყველა საავტორო უფლების თავზეც გავიარეთ. გირჩი
// End Footer
a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
  i.bi.bi-arrow-up-short