doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  title მედია გირჩი
  meta(content='' name='description')
  meta(content='' name='keywords')
  // Favicons
  link(rel='stylesheet' href='//cdn.web-fonts.ge/fonts/alk-rex-bold/css/alk-rex-bold.min.css')
  link(rel='stylesheet' href='/node_modules/alk-sanet/css/alk-sanet.min.css')
  link(rel='stylesheet' href='/node_modules/bpg-quadrosquare-mtavruli/css/bpg-quadrosquare-mtavruli.min.css')
  link(href='assets/img/download' rel='icon')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css' integrity='sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==' crossorigin='anonymous' referrerpolicy='no-referrer')

  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
  // Vendor CSS Files
  link(href='assets/vendor/animate.css/animate.min.css' rel='stylesheet')
  link(href='assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(href='assets/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
  link(href='assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
  link(href='assets/vendor/glightbox/css/glightbox.min.css' rel='stylesheet')
  link(href='assets/vendor/swiper/swiper-bundle.min.css' rel='stylesheet')
  // Template Main CSS File
  link(href='assets/css/style.css' rel='stylesheet')
  link(href='assets/css/add_news.css' rel='stylesheet')
  script(src="http://0.0.0.0:3000/socket.io/socket.io.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")