body
  .outerContainer
    .item
      img(src='./assets/img/download')
    .circle
  // ======= Top Bar =======
  section#topbar.d-flex.align-items-center
    .container.d-flex.justify-content-center.justify-content-md-between
      .contact-info.d-flex.align-items-center
        i.bi.bi-envelope-fill
        a(href='mailto:contact@example.com')
          | info@girchi.com
      .social-links.d-none.d-md-block
        a.twitter(href='https://twitter.com/girchiparty' target='_blank')
          i.bi.bi-twitter#twitter
        a.facebook(href='https://www.facebook.com/GirchiParty/' target='_blank')
          i.bi.bi-facebook#facebook
        a.instagram(href='https://www.instagram.com/girchiparty/?hl=en' target='_blank')
          i.bi.bi-instagram#instagram

  // ======= Header =======
  header#header.d-flex.align-items-center
    .container.d-flex.align-items-center
      nav#navbar.navbar
        ul
          li
            a.nav-link.scrollto.active#general(href='/') ზოგადი
          li
            a.nav-link.scrollto#girchi(href='/girchi_news') გირჩი


script(src='/assets/components/browserSide/loader.js')