.right-fixed-container
  h4.right-fixed-container-p აირჩიე წყარო
  .down-line
  ul.right-fixed-container-ul
    li(onclick='filterPosts("Formula")').fixed-container-list-item.formula-item
      img(src="https://upload.wikimedia.org/wikipedia/commons/7/7b/TV_Formula_-_Official_Logo.png" alt="")
      h3 ფორმულა
    li(onclick='filterPosts("Imedi")').fixed-container-list-item
      img(src="https://www.imedi.ge/m/i/logo-fb.png" alt="")
      h3 იმედი ნიუსი
    li(onclick='filterPosts("IPN")').fixed-container-list-item 
      img(src="https://www.interpressnews.ge/static/img/logofixed.svg" alt="")
      h3 ინტერპრეს ნიუსი
    li(onclick='filterPosts("On")').fixed-container-list-item 
      img(src="http://gip.ge/wp-content/uploads/2017/10/apple-touch-icon.png" alt="")
      h3 On.ge
    li(onclick='filterPosts("Mtavari")').fixed-container-list-item 
      img(src="https://www.televizia.org/img/tv_mtavariarxi.png" alt="")
      h3 მთავარი არხი
    li(onclick='filterPosts("Palitra")').fixed-container-list-item 
      img(src="https://www.tdi.ge/sites/default/files/tv_palitra_1.jpg" alt="")
      h3 პალიტრა
    li(onclick='filterPosts("Tabula")').fixed-container-list-item 
      img(src="https://upload.wikimedia.org/wikipedia/ka/c/c0/Tabula_logo.png" alt="")
      h3 ტაბულა
    //- li(onclick='filterPosts("Facebook")').fixed-container-list-item 
    //-   img(src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Facebook_logo_%28square%29.png" alt="")
    //-   h3 Facebook